<main>
    <section class="tasks">

        {{#each tasks}}
        <div class="task">
            <form action="/complete" method="post">
                <div>
                    <input type="checkbox" id="task-{{this.id}}" onchange="completeTask({{this.id}})">
                    <label for="task-{{this.id}}">{{this.description}}</label>
                </div>

                <button onclick="deleteTask({{this.id}})">
                    <img src="/images/x-icon.png" alt="">
                </button>
            </form>
        </div>
        {{/each}}

        <div class="info">
            <p>{{activeTasks}} active tasks</p>

            <div class="buttons">
                <a href="/">All</a>
                <a href="/actives" class="active">Actives</a>
                <a href="/completed">Completed</a>
            </div>

            <a href="/cleantasks">Clean tasks</a>
        </div>
    </section>

    <section class="buttons">
        <a href="/">All</a>
        <a href="/actives" class="active">Actives</a>
        <a href="/completed">Completed</a>
    </section>
</main>