<main>
    <section class="tasks">

        {{#each tasks}}
        <div class="task">
            <form action="/complete" method="post">
                <div class="completed">
                    <input type="checkbox" id="task-{{this.id}}" checked onchange="decompleteTask({{this.id}})">
                    <label for="task-{{this.id}}">{{this.description}}</label>
                </div>
                <button>
                    <img src="/images/x-icon.png" alt="">
                </button>
            </form>
        </div>
        {{/each}}

        <div class="info">
            <p>{{completedTasks}} active tasks</p>

            <div class="buttons">
                <a href="/">All</a>
                <a href="/actives">Actives</a>
                <a href="/completed" class="active">Completed</a>
            </div>

            <a href="">Clean tasks</a>
        </div>
    </section>

    <section class="buttons">
        <a href="/">All</a>
        <a href="/actives">Actives</a>
        <a href="/completed" class="active">Completed</a>
    </section>
</main>