<main>
    <section class="tasks">

        {{#each tasks}}
        <div class="task">
            <form action="">
                {{#if this.completed}}
                <div class="completed">
                    <input type="checkbox" id="task-{{this.id}}" checked onchange="decompleteTask({{this.id}})">
                    <label for="task-{{this.id}}">{{this.description}}</label>
                </div>
                {{else}}
                <div>
                    <input type="checkbox" id="task-{{this.id}}" onchange="completeTask({{this.id}})">
                    <label for="task-{{this.id}}">{{this.description}}</label>
                </div>
                {{/if}}

                <button onclick="deleteTask({{this.id}})">
                    <img src="/images/x-icon.png" alt="">
                </button>
            </form>
        </div>
        {{/each}}

        <div class="info">
            <p>{{quantityActiveTasks}} active tasks</p>

            <div class="buttons">
                <a href="/" class="active">All</a>
                <a href="/actives">Actives</a>
                <a href="/completed">Completed</a>
            </div>

            <a href="">Clean tasks</a>
        </div>
    </section>

    <section class="buttons">
        <a href="/" class="active">All</a>
        <a href="/actives">Actives</a>
        <a href="/completed">Completed</a>
    </section>
</main>